<% include partials/header %>

<div class="jumbotron">
    <h1>About</h1>
    <p class="lead">Simple Ethereum Wallet based on <a href="https://github.com/ethers-io/ethers.js">ether.js</a> + <a href="https://nodejs.org">nodejs</a> (<a href="https://github.com/expressjs/express">express</a>) + .</p>
</div>

<% include partials/footer %>