<% include partials/header %>

<div class="jumbotron">
    <h1>About</h1>
    <p class="lead">Simple Ethereum Wallet based on <a href="https://github.com/ethers-io/ethers.js">ether.js</a> + <a href="https://nodejs.org">nodejs</a> (<a href="https://github.com/expressjs/express">express</a>) + <a href="https://getbootstrap.com/">bootstrap</a>.</p>

    <p><strong>GitHub:</strong> <a href="https://github.com/oleksandr-sovenko/ietherwallet">https://github.com/oleksandr-sovenko/ietherwallet</a></p>

    <p><strong>Donate:</strong> 0x3309a55B6AfbECb56783d694aC541AA5B3d05A2E</p>
</div>

<% include partials/footer %>