/* General */

.alert,
.iew__view_main {
	display: none;
}

#iew_button__upload_json {
	overflow: hidden;
    width: 100%;
}



/* New Wallet */

.iew_form__create_new_wallet .progress,
.iew_form__create_new_wallet_done {
	display: none;
}



/* Send Ether & Tokens */

.iew_form__send_ether_tokens {
	display: none;
}

